@use './abstract/colors' as *;

.services {
    background-color: $primary-blue;
    padding-bottom: 100px;

    &__image__wrapper {
        background-image: url("https://www.specbee.com/themes/custom/specbee/assets/media/icons/polygon.svg");
        background-repeat: no-repeat;
        width: 15rem;
        height: 15rem;
        background-position-x: 50%;
        background-position-y: center;
        background-size: contain;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    &__heading {
        font-size: 5rem;
        margin-top: 0;
        padding-top: 5rem;
        color: $white;
        display: inline-block;
        vertical-align: middle;

        &::before {
            content: "";
            height: 0.75rem;
            display: inline-block;
            width: 150px;
            margin-right: 50px;
            margin-bottom: 15px;
            vertical-align: middle;
            background-color: $yellow;
        }
    }
    &__wrapper {
        max-width: 75rem;
        padding-top: 50px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2.5rem;
    }
    &__card {
        width: 30%;
        text-align: center;
        color: $white;
        position: relative;
    }

    &__title {
        font-size: 1.25rem;
        margin-top: 15px;
        font-weight: 800;
    }

    &__text {
        font-size: 0.87rem;
        margin-top: 5px;
    }

}