body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(6, 6, 228);
    ;
    height: 50px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navbar-toggle {
    /* display: none; */
    cursor: pointer;
    padding: 15px;
    float: right;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 1;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
    transition: transform 0.3s ease;
}

.navbar-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
}

.navbar-menu.active {
    display: block;
}

.navbar-menu ul {
    list-style-type: none;
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .125rem;

}

.yellow::before {
    content: "";
    height: 0.60rem;
    width: 90px;
    display: inline-block;
    margin-left: -92px;
    margin-bottom: 22px;

    background-color: yellow;
}

.navbar-menu ul li {
    margin: 10px;
}

.navbar-menu ul li a {
    color: #fff;
    text-decoration: none;

}

.navbar-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}


.nav__contact__button {
    background-color: yellow;
    border: 0.0625rem solid yellow;
    color: rgb(6, 6, 228);
    border-radius: 0.3125rem;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    margin-top: 0.6rem;
    padding: 0.5rem 0.3rem;
    margin-left: 83rem;
}

.nav__contact__button:hover {
    color: yellow;
    background-color: rgb(6, 6, 228);
}

/* .logo{
    margin: 0;
}
.logo img{
    width: 13.75rem;
    height: auto;
  } */