footer{
    background-color: #192122;

}
.footer-contents{
    display: flex;
    padding: 6% 5%;
    height: 50%;
    align-content: stretch;
    justify-content: space-between;
}
.footer__nav-column ul{
    list-style: none;
    color: #7c8993;
}
.footer__nav-column a{
    text-decoration: none;
    color: #7c8993;
    font-size: 16px;

}
.footer__nav-column li{
    font-size: 16px;

}

.footer__nav-column{
    line-height: 2;
}
.footer__nav-col__upper a{
    color: white;
}
.footer__nav-col__upper h2{
    color: white;

}
.footer-icons{
    display: flex;
}
.footer-icons li{
    margin-right: 35px;
}
.footer-affl img{
    width: 120px;
    height: 120px;
}
.footer__nav-columns{
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .footer-contents{
        display: flex;
        flex-direction: column;
        padding: 6% 5%;
        height: 50%;
        text-align: center;
    }
    .footer-affl img{
        display: block;
        justify-content: center;
        margin: 0 auto;
    }

    .footer__nav-column{
        margin:3%;
    }
.footer-icons{

    margin-left:33%;
}
}
    
