* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #398dd6; */
}

.logo img {
    width: 200px;
    height: auto;
}

.logo {
    margin: 20px;
}

.list__nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.list__nav ul li {
    margin-right: 45px;
}

.list__nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.list__orange-button {
    background-color: rgb(241, 90, 9);
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    font-size: 16px;
    margin-right: 20px;
}

.list__orange-button:hover {
    cursor: pointer;

}

.case-study {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.case-study-container img {
    width: 100%;
    height: 100%;
}

.case-study__info {
    padding: 50px 30px 80px;

}

.case-study__info h1 {
    font-size: 70px;
    margin-bottom: 30px;
}

.case-study__info p {
    font-size: 40px;
    margin-bottom: 30px;
}

.case-study__info a {
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

.case-study-container {
    flex-basis: 70%;
}

.case-study__content {
    justify-items: right;
    align-self: center;
    /* transform: translate(-15%); */
    position: relative;
    right: 5%;
    width: 60%;

}


.case-study__info {
    background-color: white;
    color: black;

}


.view-button {
    background-color: rgb(241, 90, 9);
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 20px;
    font-size: 18px;
}

.view-button:hover {
    cursor: pointer;
}

.case-study__button {
    position: relative;
    margin-top: -50px;
    margin-left: 71%;
}

section {
    justify-content: center;
}

.testimony {
    background-color: #222a62;
    color: white;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: right;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 110px;
}

.testimony__text {
    padding-left: 30px;
    margin-top: 5px;
}

.testimony__text p {
    font-size: 36px;
    font-style: italic;
}

.line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    margin-right: 20px;
}

.testimony__client-container {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 14px;

}

.testimony__client-name-container {
    display: flex;
    margin-left: -40px;
}

.client-info {
    font-style: italic;
    margin-top: 5px;
}

.explore {
    text-align: end;
}

@media screen and (max-width: 850px) {
    header {
        display: block;
        height: max-content;
        background-color: white;
        z-index: 9;
        width: 100%;
    }

    .logo img {
        /* padding: 20px 10px;
     padding-left: 10px;  */
        width: 45%;
        height: auto;
    }

    nav {
        display: none;
    }

    .testimony {
        width: 100%;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 100px;
    }

    .testimony__text {
        padding: 0;
    }

    .testimony__text p {
        font-size: 16px;
    }

    .testimony__client-container {
        padding: 0;
        line-height: 1.5;
        margin-left: 40px;
    }

    .case-study {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;

    }

    .case-study-container {
        flex-basis: 40%;
    }

    .case-study__content {
        width: 100%;
        padding: 0;
        margin: 0;
        right: 0;
        text-align: center;
    }

    .case-study__info {
        padding: 50px 10px;
        margin: 0;
    }

    .case-study__info p {
        padding: 0;
        margin: 0;
        font-size: 24px;
    }

    .case-study__info h1 {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        font-size: 36px;
    }

    .explore {
        text-align: center;
        margin-top: 30px;
    }

    .case-study__button {
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }

}
